.navigation {
  height: 30px;
  display: flex;
  align-items: center;
  align-self: center;
  gap: 10px;
  margin: 20px 0;
}

.navigation__pagination {
  display: grid;
  place-items: center;
  font-size: 1rem;
  font-weight: 600;
  width: 70px;
  text-shadow: 2px 2px rgba(90, 25, 92, 0.8);
}
